#div-menu-left {
  height: 100%;
  width: 120px;
  border-right: 1px solid grey;
  font-size: .8em;
  display: inline-block;
  overflow-y: scroll;
}

#div-menu-left ul li {
  padding: 10px;
}

#div-menu-left ul li:hover {
  background-color: grey;
  cursor: pointer;
}

#filler {
  height: 65px;
  width: 120px;
  display: inline-block;
}

#div-content-right {
  position: absolute;
  left: 120px;
  top: 0;
  height: 100%;
  min-width: 80%;
  max-width: 100%;
}

#img-highlight {
  position: absolute;
  top: 0;
  margin-left: 5%;
  height: 100%;
  width: 100%;

  /* When background image changes, this helps */
  background-position: center center;
  background-size: 100% 100% contain;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

#div-img-text {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none; /* This will change whenever an image is clicked */
  z-index: 99;
  background-color: rgba(0,0,0,0.7);
  color: white;
  position: fixed;
}

#img-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 75%;
  margin: auto;
  transform: translate(-50%, -50%);
}
