<!DOCTYPE html>
<html>
  <head>
  <title>{{page.title}}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/{{page.background}}">

  <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
  <div class="transbox">
    <nav id="nav-header">
      <ul id="menu-header">
        <li><a href="/">Home 「ホーム」</a></li>
        <li id='travel-list'><a>Travels 「旅行」&#9662;</a>
          <ul id='ul-travel-list'>
            <li><a href="/travels/winter2019">Winter Nomad 「冬の旅人」</a></li>
            <li><a>Coming Soon...</a></li>
          </ul>
        </li>
        <li><a href="/about">About 「他」</a></li>
      </ul>
    </nav>
    <div id="div-container">
      {{content}}
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/phRJCA">Github</a></li>
      </ul>
    </footer>
  </div>
  </body>
</html>
