<!DOCTYPE html>
<html>
  <head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/travel-default.css">
  <link rel="stylesheet" type="text/css" href="/css/{{page.background}}">


  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/winter2019.js"></script>
  <script type="text/javascript" src="/js/itoigawa2019.js"></script>
  </head>
  <body>
  <div class="transbox">
    <nav id="nav-header">
      <ul id="menu-header">
        <li><a href="/">Home 「ホーム」</a></li>
        <li id='travel-list'><a>Travels 「旅行」&#9662;</a>
          <ul id='ul-travel-list'>
            <li><a href="/travels/winter2019">Winter Nomad 「冬の旅人」</a></li>
            <li><a href="/travels/yukikaki2019">Itoigawa Yukikaki「糸魚川雪かき」</a></li>
            <li><a>Coming Soon...</a></li>
          </ul>
        </li>
        <li><a href="/about">About 「他」</a></li>
      </ul>
    </nav>
    <div id="div-container">
      {{content}}
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/phRJCA" target="_blank"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    </footer>
  </div>
  </body>
</html>
