<!DOCTYPE html>
<html>
  <head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <link rel="stylesheet" type="text/css" href="/public/css/travel-default.css">
  <link rel="stylesheet" type="text/css" href="/public/css/{{page.background}}">


  <script type="text/javascript" src="/public/js/main.js"></script>
  <script type="text/javascript" src="/public/js/winter2019.js"></script>
  <script type="text/javascript" src="/public/js/itoigawa2019.js"></script>

  <!-- Analytics -->
  <script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("ygFLUMyCXqN67EOKCDHFyuN4Z9Hf1oHL");
    analytics.page();
    }}();
  </script>
  <!-- Analytics End -->

  </head>
  <body>
  <div class="transbox">
    <nav id="nav-header">
      <ul id="menu-header">
        <li><a href="/">Home 「ホーム」</a></li>
        <li id='travel-list'><a>Travels 「旅行」&#9662;</a>
          <ul id='ul-travel-list'>
            <li><a href="/travels/winter2019">Winter Nomad 「冬の旅人」</a></li>
            <li><a href="/travels/yukikaki2019">Itoigawa Yukikaki「糸魚川雪かき」</a></li>
            <li><a>Coming Soon...</a></li>
          </ul>
        </li>
        <li><a href="/about">About 「他」</a></li>
      </ul>
    </nav>
    <div id="div-container">
      {{content}}
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/phRJCA" target="_blank"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    </footer>
  </div>
  </body>
</html>
